@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navigation li {
    list-style: none;
}

.icons li {
    text-decoration: none;
}

.nav-list a {
    list-style: none;
    text-decoration: none;
    font-size: 0.6875em;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navigation a{
    color: black;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav-list li {
    margin: 0 1.25em;
}

.nav-list a:hover {
    color: #3cb878;
}

#RENOSHOPBEE {
    font-size: 1.0625em;
    text-decoration: none;
    font-weight: bold;
}

.RENOSHOPBEE-GREEN {
    color: #3cb878;
}

.icons {
    display: flex;   
}
.icons li{
    margin: 0 1.25em;
}